// these are equal to the size of the svg
$switch_height: 16px;
$switch_width: 40px;

$check_height: 16px;
$check_width: 16px;

// switch

.toggle-switch {
  height: $switch_height;
  width: $switch_width;
  background-size: contain;
  background-image: url("#{$shared_assets_path}/switch-off.svg");

  &:checked { background-image: url("#{$shared_assets_path}/switch-on.svg"); }
}

// check

.check-box {
  CinnamonGenericContainer { spacing: 0.8em; }

  StBin {
    width: $check_width;
    height: $check_height;
    background-image: url("#{$shared_assets_path}/checkbox-unchecked.svg");
  }
  &:focus StBin { background-image: url("#{$shared_assets_path}/checkbox-unchecked.svg"); }
  &:checked StBin { background-image: url("#{$shared_assets_path}/checkbox-checked.svg"); }
  &:focus:checked StBin { background-image: url("#{$shared_assets_path}/checkbox-checked.svg"); }
}

// New CheckBoxes

.check-box-2 {
  StBoxLayout { spacing: 0.8em; }

  StBin {
    width: $check_width;
    height: $check_height;
    background-image: url("#{$shared_assets_path}/checkbox-unchecked.svg");
  }
  &:focus StBin { background-image: url("#{$shared_assets_path}/checkbox-unchecked.svg"); }
  &:checked StBin { background-image: url("#{$shared_assets_path}/checkbox-checked.svg"); }
  &:focus:checked StBin { background-image: url("#{$shared_assets_path}/checkbox-checked.svg"); }
}

// radio

.radiobutton {
  CinnamonGenericContainer { spacing: 0.8em; }

  StBin {
    width: $check_width;
    height: $check_height;
    background-image: url("#{$shared_assets_path}/radio-unchecked.svg");
  }
  &:focus StBin { background-image: url("#{$shared_assets_path}/radio-unchecked.svg"); }
  &:checked StBin { background-image: url("#{$shared_assets_path}/radio-checked.svg"); }
  &:focus:checked StBin { background-image: url("#{$shared_assets_path}/radio-checked.svg"); }
}
